PSLoginForms/Connected Services/AuthenticationService/AuthenticationServiceWCFLibrary1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/AuthenticationServiceWCFLibrary?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AuthenticationServiceWCFLibrary" />
  <xs:element name="AuthenticateUserByPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserByPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AuthenticationServiceWCFLibrary" minOccurs="0" name="AuthenticateUserByPasswordResult" nillable="true" type="q1:Service.AuthenticationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserByOtp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="otp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserByOtpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AuthenticationServiceWCFLibrary" minOccurs="0" name="AuthenticateUserByOtpResult" nillable="true" type="q2:Service.AuthenticationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>